.full .col {
    text-align: center;
}

img {
    width: 60px;
}

.jumbotron .row {
    font-size: 0.7em;
}

.marketing .col {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .marketing .col {
        margin-bottom: 0;
    }
}

.talk-links {
    border-top: #ccc 1px solid;
}

.talk-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 0;
}
